
//
// VARIABLES
//

// Colors
$link: rgb(105, 136, 20);
$bgDark: #500000;
$bgLight: rgb(216, 209, 186);

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}